<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ferjogames.coralsystemdeck" >

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:resizeableActivity="false"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GdxTheme" >
        <meta-data android:name="android.max_aspect" android:value="2.1" />
        <activity
            android:name="ferjogames.coralsystemdeck.AndroidLauncher"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="813661334355f11497f084fbc8b33bfaa59e2e22" />
    </application>
</manifest>
